/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Passero+One&family=Poppins&family=Roboto+Mono:wght@600&family=Roboto:wght@300&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
h1 {
  font-family: "Passero One";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem !important;
  line-height: 152px;
  text-align: center;
  letter-spacing: 0.25em;
  color: #ffcc00;
  text-shadow: -5px -2px 0 #375ca9, 2px -2px 0 #375ca9, -2px 2px 0 #375ca9, 3px 5px 0 #375ca9;
}

p,
h2 {
  font-size: 1.5rem;
}

.container a {
  text-decoration: none;
}

.rounded {
  cursor: pointer;
}

.poke_name {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.25em;
  color: white;
  display: block;
  padding: 15px 0 0 20px;
  margin: 0px;
}

.poke_id {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.25em;
  color: white;
  padding: 15px 0 0 30px;
  margin: 0px;
}

.poke_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 10px;
}

.poke_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.25em;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.24);
}

.poke_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Pokomon card colors */
.grass {
  background-color: #7ac74c;
}

.fire {
  background-color: #ee8130;
}

.water {
  background-color: #6390f0;
}

.bug {
  background-color: #a6b91a;
}

.normal {
  background-color: #a8a77a;
}

.electric {
  background-color: #f7d02c;
}

.ice {
  background-color: #96d9d6;
}

.fighting {
  background-color: #c22e28;
}

.poison {
  background-color: #a33ea1;
}

.ground {
  background-color: #e2bf65;
}

.flying {
  background-color: #a98ff3;
}

.psychic {
  background-color: #f95587;
}

.rock {
  background-color: #b6a136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6f35fc;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #b7b7ce;
}

.fairy {
  background-color: #d685ad;
}

/*
Normal Type: A8A77A
Fire Type:  EE8130
Water Type:  6390F0
Electric Type:  F7D02C
Grass Type:  7AC74C
Ice Type:  96D9D6
Fighting Type:  C22E28
Poison Type:  A33EA1
Ground Type:  E2BF65
Flying Type:  A98FF3
Psychic Type:  F95587
Bug Type:  A6B91A
Rock Type:  B6A136
Ghost Type:  735797
Dragon Type:  6F35FC
Dark Type:  705746
Steel Type:  B7B7CE
Fairy Type:  D685AD
*/
/*# sourceMappingURL=styles.css.map */